/*Обнуление*/
*{
	font-family: Montserrat;
	padding: 0;
	margin: 0;
	border: 0;
}
html{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
*,*::before,*::after{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: "NerisThin";
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button, input[type=submit], a{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{
	max-width: 100%;
	height: auto;
	vertical-align: top;
}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.wrapper{
	max-width: 90%;
	margin: 0 auto;
}
/*---- header start -----*/

header{
	background-color: rgba(0,0,0,0.8);
	position: fixed;
	width: 100%;
	z-index: 100;
	top: 0;
}
.header_content {
	display: flex;
	font-size: 16px;

}
.header_content nav{
	width: 60%;
	margin-top: 40px;
}

.header_content nav ul{
	display: flex;
	justify-content: space-around;
}
.header_content nav a{
	color: #fff;
}
.header_content nav a:hover{
	color:#FF0D0D;
}
.header_logo {
	width: 20%;
	color: #fff;
	text-align: center;
	margin-bottom: 15px;
	font-size: 0.9em;
}
.header_logo img{	
	height: 90px;
}
.header_geo {
	width: 20%;
	color: #fff;
	margin-top: 30px;
	text-align: right;
	padding-right: 50px;
}
.header_geo h2{
	margin-bottom: 5px;
}
/*---- header end -----*/
/*---- welcome start -----*/

.welcome{
	position: relative;
	min-height: 100vh;
}
.blur{
	min-height: inherit;  
	filter: blur(2px);
	-webkit-filter: blur(2px);
	background-image: url(../img/welcome.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.welcome:after{
	content: "";		
	display: block;    
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;      
	left: 0;
	background: transparent;
	background-color: rgba(0,0,0);
	opacity: 0.5;
	z-index: 2;
}
.welcome_content{
	z-index: 3;
	color: #fff;
	position: absolute;
	top: 200px;
	max-width: 65%;
	left: 150px;
}

.welcome_content h1{
	font-size: 50px;
	line-height: 65px;
	font-weight: bold;
}
.welcome_content h2{
	font-size: 18px;
	margin-top: 30px;
}
.welcome_content input[type=text]{
	padding: 12px 7px 12px 10px;
	margin-right: 30px;
	margin-top: 20px;
}
.welcome_content input[type=submit]{
	color: black;
	padding: 12px 30px;
	background: linear-gradient(180deg, rgba(251, 0, 0, 0.9) 0%, rgba(70, 70, 70, 0.9) 247.6%);
	font-weight: bold;
}
.welcome_content input[type=checkbox]{
	margin-top: 25px;
	margin-right: 5px;
}
.arrows{
	position: absolute;
	left: 50%;
	font-size: 18px;
	z-index: 3;
	width: 50px;
	height: 50px;
	bottom: 20px;
	border-radius: 50%;
	transform: translateX(-50%);
	background-color: #fff;
}
.arrow{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 13px;
}
.arrow:first-child{
	top: 20px;
}
/*---- welcome end -----*/

.about h2{
	font-size: 42px;
	padding-top: 30px;
	font-weight: bold;
	width: 100%;
}
.about .wrapper{
	display: flex;
	flex-wrap: wrap;
}
.about p{
	width: 50%;
	font-size: 16px;
	line-height: 120%;
	padding-bottom: 130px;
	padding-top: 50px;
	display: inline-block;
}
.about img{
	width: 350px;
	height: 350px;
	margin-left: auto;
}
/*---- category start -----*/

.category{
	background: linear-gradient(180deg, rgba(251, 0, 0, 0.9) 0%, rgba(70, 70, 70, 0.9) 247.6%);
	padding: 40px 0;
}
.category .wrapper{
	display: flex;
	justify-content: space-around;
}
.category_item h3{
	margin-top: 10px;
	color: #fff;
}
.category_item__img{
	background-color: #000;
	width: 50px;
	height: 50px;
	position: relative;
	margin: 0 auto;
}
.category_item__img img{
	width: 25px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
/*---- category end -----*/
/*---- cars start -----*/

.cars{
	background-color: #F3F3F3;
	padding: 30px 0;
}
.cars .wrapper{
	display: flex;
	justify-content: space-around;
}
.cars_item{
	text-align: center;
}
.cars_item h3{
	font-weight: bold;
	margin-top: 10px;
	color: black;
}
.cars_item img{
	width: 80px;
}
/*---- cars end -----*/
/*---- profi start -----*/


.profi{
	background-color: #141414;
	color: white;
}
.profi h2{
	padding-top: 30px;
	margin-bottom: 50px;
	font-size: 40px;
	font-weight: bold;
	line-height: 40px;
	width: 70%;
}
.profi_content{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-column-gap: 100px;
}
.profi_item h3{
	display: inline;
	padding-bottom: 10px;
	border-bottom: 1px solid red;
	font-size: 17px;
}
.profi_item p{
	margin-top: 20px;
	padding-bottom: 40px;
	width: 80%;
}
/*---- profi end -----*/
/*---- price start -----*/

.pricecontent__item > input{
    opacity: 0;
    position: absolute;
}
.pricecontent__item > input ~ .pricecontent__item_main{
	height: 0;
	overflow: hidden;
	transition: 0.5s padding;
	padding: 0;
}
.pricecontent__item > input:checked ~ .pricecontent__item_main{
	padding: 10px;
    padding-bottom: 200px;
}

.pricecontent__item >input:checked ~ .command_toggle:before{
	transform: scale(1, -1)
}
.price{
	background-color: #141414;
	color: white;
}
.price h2{
	text-align: center;
	font-size: 28px;
	padding-top: 40px;
}
.pricecontent__item{
	width: 80%;
	margin: 15px auto;
}
.pricecontent__item_main{
	background-color: #C4C4C4;
}
.command_toggle{
	background-color: #fff;
	color: #000;
	width: 100%;
	display: block;
	font-size: 16px;
	text-transform: uppercase;
	padding: 15px 50px;
	cursor: pointer;
}
.command_toggle:before{
	transition: 0.5s;
	width: 20px;
	height: 15px;
	line-height: 16px;
	content: '';
	margin-right: 10px;
	display: inline-block;
	background: url(../img/down.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.pricecontent__item_main li:before{
	width: 8px;
	height: 8px;
	margin-right: 15px;
	display: inline-block;
	content: '';
	line-height: 20px;
	background-color: red;
	border-radius: 50%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-bottom: 2px;
}

.pricecontent__item_main li{
	margin-bottom: 15px;
	color: #000;
	font-size: 16px;
	margin-left: 50px;
}
.pricecontent__item_main li:first-child{
	padding-top: 20px;
}
.dop{
	padding-bottom: 30px;
}
.dop > input:checked ~ .dop_content{
}
.dop_content{
	transition: 1s padding;
	height: 0;
	overflow: hidden;
    padding-bottom: 0px;
}
.dop > .command_toggle{
	background: linear-gradient(180deg, rgba(251, 0, 0, 0.9) 0%, rgba(70, 70, 70, 0.9) 247.6%);
	color: #000;
	width: 200px;
	display: block;
	font-size: 14px;
	text-transform: none;
	padding: 10px 0;
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
}
.dop > .command_toggle:before{
	display: none;
}
.dop .pricecontent__item_main li:first-child{
	padding-top: 10px;
}
.dop > input{
    opacity: 0;
    position: absolute;
}
.pricecontent__item_main h4{
	margin-bottom: 15px;
	color: #000;
	font-size: 16px;
	margin-left: 50px;
}
.pricecontent__item_main p{
	line-height: 120%;
	margin-bottom: 15px;
	color: #000;
	font-size: 16px;
	margin-left: 50px;
}
.dop_content .pricecontent__item > input:checked ~ .pricecontent__item_main{
    padding-bottom: 170px;
}
.dop_content .pricecontent__item > input:checked ~ .pricecontent__item_main:nth-child(2n){
    padding-bottom: 120px;
}
/*---- price end -----*/
/*---- photo start -----*/
.photo{
	padding-top: 40px;
	background: url(../img/hand.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
	z-index: -2;
	position: relative;
}
.photo h2{
	font-size: 40px;
	display: inline-block;
	position: relative;
	padding: 15px 40px;
	font-weight: bold;
}
.photo h2:before{
	content: '';
	background: linear-gradient(180deg, rgba(251, 0, 0, 0.9) 0%, rgba(70, 70, 70, 0.9) 247.6%);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: skew(-25deg);
	z-index: -1;
}
.photo h3{
	font-size: 20px;
	width: 45%;
	margin-top: 40px;
	margin-bottom: 50px;
	font-weight: bold;
}
.photo li:before{
	width: 8px;
	height: 8px;
	margin-right: 15px;
	display: inline-block;
	content: '';
	line-height: 20px;
	background-color: red;
	border-radius: 50%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-bottom: 2px;
}

.photo li{
	margin-bottom: 20px;
	color: #000;
	font-size: 16px;
	font-weight: bold;
}
.photo ul{
	margin-bottom: 90px;
}
.photo a{
	background: linear-gradient(180deg, rgba(251, 0, 0, 0.9) 0%, rgba(70, 70, 70, 0.9) 247.6%);
    color: #000;
    width: 250px;
    display: block;
    font-size: 18px;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
}
.photo .wrapper{
	padding-bottom: 115px;
}
.photo span{
	position: absolute;
	width: 150px;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(../img/Star1.png) no-repeat;
	background-position: center;
	background-size: contain;
	color: #fff;
	right: 535px;
	top: 170px;
	font-size: 12px;
	z-index: -1;
}
#s1{
	right: 440px;
	top: 120px;
}
#s2{
	top: 230px;
	right: 560px;
}
#s3{
	top: 410px;
	right: 580px;

}

/*---- photo end -----*/

/*---- dang start -----*/
.dang{
	background-color: #141414;
	color: #fff;
	padding-bottom: 10px;
	padding-top: 20px;
}
.dang h2{
	padding-top: 30px;
	margin-bottom: 30px;
	font-size: 40px;
	font-weight: bold;
	line-height: 130%;
	width: 70%;
}
.dang h3{
	font-size: 20px;
	margin-bottom: 30px;
}
.dang li:before{
	width: 8px;
	height: 8px;
	margin-right: 15px;
	display: inline-block;
	content: '';
	line-height: 20px;
	background-color: red;
	border-radius: 50%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-bottom: 2px;
}

.dang li{
	margin-bottom: 20px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}

/*---- dang end -----*/

/*---- remType start -----*/

.remType h2{
	text-align: center;
	width: 100%;
	margin-bottom: 50px;
}
.remType h3{
	width: 75%;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 30px;
}

.remType li{
	margin-bottom: 30px;
	font-weight: normal;
	line-height: 17px;
}
/*---- remType end -----*/


/*---- services end -----*/

.services{
	position: relative;
}
.services:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    background-color: rgba(0,0,0);
    opacity: 0.6;
    z-index: 2;
}
.services .blur{
	height: 1350px;
	filter: blur(3px);	
	-webkit-filter: blur(3px);
}
.services_content{
	position: absolute;
	top: 20px;
	left: auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 90%;
	margin: 0 auto;
	z-index: 3;
}
.services_content h2{
	font-size: 42px;
	font-weight: bold;
	width: 100%;
	color: #fff;
	padding: 30px 0;
	text-align: center;
}
.services__item{
	width: 21%;
	background: linear-gradient(0deg, #FFFFFF -23.73%, rgba(255, 255, 255, 0.06) 98.06%, rgba(142, 139, 139, 0) 103.21%);
	margin-bottom: 30px;
	font-family: Montserrat;
	font-weight: 600;
	text-align: center;
}
.services__item h3{
	padding: 20px 0;
	text-align: center;
	font-family: Montserrat;
	font-weight: 600;
}
.services__item a{
	display: inline-block;
	padding: 10px 15px;
	background: linear-gradient(180deg, rgba(251, 0, 0, 1) 0%, rgba(70, 70, 70, 1) 247.6%);
	color: #000;
	margin-bottom: 20px;
}

/*---- services end -----*/

/*---- remont start -----*/

.remont{
	background: url(../img/paper.png);
}
.remont h2{
	width: 50%;
	font-size: 40px;
	font-weight: bold;
	padding-top: 40px;
	padding-bottom: 30px;
}
.remont_content{
	display: flex;
	flex-wrap: wrap;
}
.remont_item{
	display: flex;
	padding: 30px 20px;
	font-size: 20px;
	width: 44%;
	margin-right: 60px;
	margin-bottom: 40px;
}
.remont_item b{
	font-size: 80px;
	font-family: Montserrat;
	font-weight: 500;
	line-height: 20px;
	margin-right: 20px;
}
.remont_item h3{
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
}
/*---- remont end -----*/

/*---- kuzov start -----*/

.kuzov{
	background-color: #141414;
	color: #fff;

}
.kuzov h2{
	font-size: 40px;
	padding-top: 30px;
	padding-bottom: 40px;
	font-weight: bold;
}
.kuzov h3{
	font-size: 16px;
	line-height: 18px;
	margin-bottom: 50px;
}
.kuzov_gray{
	background-color: #3E3E3E;
	padding: 20px;
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}
.kuzov_gray img{
	height: 40px;
	margin-left: 30px;
}
.kuzov_gray h3{
	margin-bottom: 0;
	margin-left: 40px;
	line-height: 20px;
	font-size: 17px;
}
.kuzov h4{
	font-size: 16px;
	line-height: 25px;
	margin-bottom: 30px;
}
.kuzov ul{
	margin-bottom: 30px;
}

.kuzov li:before{
	width: 8px;
	height: 8px;
	margin-right: 15px;
	display: inline-block;
	content: '';
	line-height: 20px;
	background-color: red;
	border-radius: 50%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-bottom: 2px;
}

.kuzov li{
	margin-bottom: 20px;
	font-size: 16px;
}
.kuzov h5{
	font-size: 16px;
	padding-bottom: 40px;
	line-height: 120%;
}
/*---- kuzov end -----*/

/*---- mainInfo start -----*/

.mainInfo{
	background-color: #141414;
	color: #fff;
	padding-bottom: 20px;
}
.mainInfo h2{
	font-size: 38px;
	margin-bottom: 22px;
	font-weight: bold;
}
.mainInfo h3{
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 50px;
}
.mainInfo h4{
	font-size: 18px;
	margin-bottom: 20px;
}
.mainInfo ol{
	padding-left: 30px;
	margin-bottom: 10px;
}
.mainInfo li{
	margin-bottom: 15px;
	font-size: 17px;
}
/*---- mainInfo end -----*/

/*---- achiv start -----*/

.achiv{
	background: url(../img/paper.png);
}
.achiv h2{
	font-size: 40px;
	font-weight: bold;
	padding-top: 30px;
	margin-bottom: 50px;
	text-align: center;
}
.achiv_content{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.achiv_item{
	width: 30%;
	text-align: center;
	margin-bottom: 50px;
}
.achiv_item img{
	width: 125px;
	margin-bottom: 10px;
}
.achiv_item h3{
	font-weight: bold;
	font-size: 17px;
	line-height: 120%;
	margin-bottom: 20px;
}
.achiv_item p{
	width: 80%;
	margin: 0 auto;
}
/*---- achiv end -----*/

/*---- contacts start -----*/

.contacts{
	background-color: #141414;
	color: #fff;
}
.contacts h2{
	font-size: 40px;
	font-weight: bold;
	padding-top: 40px;
	margin-bottom: 30px;
}
.contacts_grid{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding-bottom: 70px;
}
.contacts_grid .left h3{
	margin-top: 10px;
	display: inline-block;
	font-size: 38px;
	padding-bottom: 20px;
	margin-bottom: 90px;
	border-bottom: 2px solid #FF0D0D;
}
.contacts_grid .left a{
	padding: 10px 15px;
	color: #fff;
	font-size: 26px;
	background: linear-gradient(180deg, rgba(251, 0, 0, 1) 0%, rgba(70, 70, 70, 1) 247.6%);
}
.contacts_grid .right h4{
	font-size: 32px;
	line-height: 120%;
}
.right{
	margin-left: auto;
	margin-right: 150px;
}
.contact_flex{
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
	width: 100%;
}
/*---- contacts end -----*/
/*---- footer start -----*/
footer{
	background-color: #141414;
	color: #fff;
	padding-top: 60px;
	padding-bottom: 30px;
}

.footer_content{
	display: flex;
	justify-content: space-between;
}
.footer_content h2{
	font-size: 18px;
	line-height: 120%;
}
.footer_menu a{
	color: white;
	display: block;
	margin-bottom: 10px;
}
/*---- footer end -----*/
/*---- color_main start -----*/

.color_main h1{
	text-transform: uppercase;
	font-weight: 600;
}
.color_main h2{
	line-height: 120%;
	margin-top: 10px;
}
.color_main h3{
	font-size: 44px;
	margin-top: 20px;
}
.color_main .welcome_content{
	text-align: left;
	top: 125px;
	left: 50px;
}
.color_main h4{
	font-size: 18px;
	margin-top: 15px;
	margin-bottom: 20px;
}
.color_main li{
	margin-left: 20px;
	margin-bottom: 15px;
	font-size: 17px;
}
.color_main h5{
	font-size: 18px;
	margin-bottom: 50px;
}
.color_main a{
	background: linear-gradient(180deg, rgba(251, 0, 0, 1) 0%, rgba(70, 70, 70, 1) 247.6%);
	padding: 10px 60px;
	font-size: 16px;
	color: #000;
	font-weight: bold;
}
/*---- color_main end -----*/


/*---- rem_scretch start -----*/

.rem_scretch .welcome_content{
	text-align: center;
	top: 125px;
	left: 50px;
	max-width: calc(100% - 100px);
}
.rem_scretch .kuzov_gray{
	text-align: left;
	padding: 30px;
}
.rem_scretch h1{
	font-size: 46px;
	text-align: left;

}
.rem_scretch h2{
	margin-bottom: 20px;
	text-align: left;
	margin-top: 10px;
}
.rem_scretch h4{
	text-align: left;
	font-size: 15px;
	margin-bottom: 20px;
}
.rem_scretch h5{
	text-align: left;
	line-height: 120%;
	font-size: 15px;
	width: 90%;
	margin-bottom: 40px;
}
.rem_scretch li{
	text-align: left;
	margin-left: 20px;
	margin-bottom: 15px;
}
.rem_scretch ol{
	margin-bottom: 30px;
}
.rem_scretch .blur{
	height: 135vh;
}
.rem_scretch a{
	display: inline-block;
	background: linear-gradient(180deg, rgba(251, 0, 0, 1) 0%, rgba(70, 70, 70, 1) 247.6%);
	padding: 10px 60px;
	font-size: 16px;
	color: #000;
	font-weight: bold;
}
/*---- rem_scretch end -----*/

/*---- polishing start -----*/

.polishing h2{
	line-height: 120%;
	font-size: 17px;
}
.polishing h3{
	font-size: 34px;
	font-weight: 600;
	text-align: left;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.polishing h4{
	line-height: 120%;
	font-size: 17px;
}
.polishing h5{
	margin-bottom: 20px;
}
.polishing li{
	line-height: 120%;
	padding-left: 10px;
	font-size: 17px;
	width: 85%;
}
.polishing .blur{
	height: 155vh;
}
/*---- polishing end -----*/

/*---- color_local start -----*/
.color_local h1{
	font-size: 40px;
	text-align: left;
}
.color_local h2{
	width: 70%;
	font-size: 16px;
	line-height: 130%;
	text-align: left;
}
.color_local h3{
	font-size: 40px;
	text-align: left;
}
.color_local h4{
	font-size: 16px;
	width: 70%;
	line-height: 120%;
	text-align: left;
}
.color_local h5{
	font-size: 16px;
	margin-bottom: 30px;
	text-align: left;
}
.color_local ol{
	margin-bottom: 30px;
	text-align: left;
}
.color_local .welcome_content{
	max-width: 100%;
	text-align: center;
}
.color_local .blur{
	height: 155vh;
}
/*---- color_local end -----*/
.scretch .blur{
	height: 120vh;
}
.scretch h2{
	width: 90%;
	line-height: 110%;
}
.scretch ol, .scretch h5, .scretch h4  {
	font-size: 17px;
}
/*---- rem_main start -----*/
.rem_main .blur{
	height: 320vh;
}
.rem_main h3{
	font-weight: bold;
	font-size: 38px;
	margin-bottom: 30px;
	text-align: left;
}
.rem_main h2{
	width: 80%;
	text-align: left;
}
.rem_main h5, .rem_main ol, .rem_main h4, .rem_main h1{
	text-align: left;
}
.rem_main .welcome_content{
	max-width: 100%;
	text-align: center;
}

/*---- rem_main end -----*/
/*---- cars_rem start -----*/

.cars_rem{
	margin-top: 150px;
}
.cars_rem_content h1{
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 20px;
}
.cars_rem_content img{
	float: right;
	width: 400px;
}
.cars_rem_content h3{
	margin-bottom: 30px;
	width: 50%;
	line-height: 120%;
}
.cars_rem_content h2{
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 20px;
}
.cars_rem_content h4{
	font-weight: bold;
	margin-bottom: 10px;
}
.cars_rem_content ol{
	margin-left: 20px;
	margin-bottom: 15px;
}
.cars_rem_content a{
	display: inline-block;
	background: linear-gradient(180deg, rgba(251, 0, 0, 1) 0%, rgba(70, 70, 70, 1) 247.6%);
	padding: 10px 60px;
	font-size: 16px;
	color: #000;
	margin-bottom: 50px;
	margin-left: 50%;
	transform: translateX(-50%);
	font-weight: bold;
}
/*---- cars_rem end -----*/
/*---- spec start -----*/


.spec{
	background: url(../img/paper.png) #181818;
	padding-top: 150px;
	color: #fff;
	font-size: 18px;
}
.spec .wrapper > div{
	padding-top: 70px;
}
.spec h2{
	font-weight: bold;
	font-size: 40px;
	padding: 30px 0;
}
.spec h3{
	line-height: 130%;
	font-size: 1em;
}
.spec h4{
	padding: 15px 0;
	font-weight: bold;
	font-size: 0.9em;
}
.spec h5{
	line-height: 130%;
	font-size: 1em;
	margin: 25px 0;
}
.spec .wrapper >.el{
	padding-top: 0;
}
.el img{
	float: right;
	width: 375px;
	margin-right: 50px;
}
.spec li{
	margin-left: 20px;
	font-size: 0.9em;
	margin-bottom: 10px;
	width: 80%;
	line-height: 130%;
}
.btn{
	text-align: center;
	padding: 40px 0;
}
.btn a {
    display: inline-block;
    background: linear-gradient(180deg, rgba(251, 0, 0, 1) 0%, rgba(70, 70, 70, 1) 247.6%);
    padding: 10px 60px;
    font-size: 16px;
    color: #000;
    font-weight: bold;
}
.lonz img{
	max-width: 700px;
	float: right;
}
.lonz h3{
	line-height: 150%;
	margin: 30px 0;
}
.lonz ol{
	margin: 30px 0;
}
/*---- spec end -----*/



@media screen and (max-width: 1200px) {
	.cars_rem_content h1, .rem_scretch h1{
		font-size: 36px;
	}
	.welcome_content{
		left: 50px;
		max-width: 70%;
	}
	.header_content{
		font-size: 14px;
	}
	.photo{
		background-position: bottom 0 right -100px;
	}
	.photo span{
		font-size: 11px;
		width: 125px;
		height: 125px;
		text-align: center;
	}
	#s1 {
	    right: 390px;
	    top: 170px;
	}
	#s2 {
	    top: 280px;
	    right: 510px;
	}
	#s3 {
	    top: 440px;
	    right: 500px;
	}
	.remont_item{
		margin-right: 20px;
	}
	.contacts_grid .left a{
		font-size: 20px;
	}
	.polishing .blur{
		height: 180vh;
	}
}
@media screen and (max-width: 1090px) {
	.color_main h3{
		font-size: 30px;
	}
	.photo{
		background-position: bottom 0 right -250px;
	}
	.photo span{
		font-size: 11px;
		width: 125px;
		height: 125px;
		text-align: center;
	}
	#s1 {
	    right: 190px;
	    top: 140px;
	}
	#s2 {
	    top: 250px;
	    right: 330px;
	}
	#s3 {
	    top: 420px;
	    right: 360px;
	}
	.contacts_grid .right h4{
		font-size: 26px;
	}
	.contacts_grid .left h3{
		font-size: 34px;
	}
	.pricecontent__item_main p{
		font-size: 14px;
	}
	.welcome_content h1{
		font-size: 44px;
	}
	.welcome_content{
		max-width: 90%;
	}
	.photo h2, .contacts h2, .dang h2{
		font-size: 34px;
	}
	.dang h2{
		width: 100%;
	}
	.contacts_grid .left h3{
		font-size: 30px;
	}
	.header_content{
		font-size: 12px;
	}
	.contacts_grid .left a{
		font-size: 17px;
	}
		.color_main h1{
		font-size: 30px;
	}
	.color_main h2,.color_main h4, .color_main li, .color_main h5{
		font-size: 16px;
	}
	.color_main a{
		font-size: 14px;
		padding: 10px 40px;
	}
	.color_main h5,.color_main h4{
		width: 90%;
	}
	.rem_main h2{
		width: 90%;
	}
	.rem_scretch h1{
		font-size: 40px;
	}
	.rem_scretch h2, .kuzov_gray h3{
		font-size: 15px;
	}
	.rem_scretch .blur{
		height: 160vh;
	}
	.rem_scretch .kuzov_gray{
		padding: 20px;
	}
	.kuzov_gray img{
		margin-left: 10px;
	}
	.kuzov_gray h3{
		margin-left: 10px;
	}
	.polishing h3{
		font-size: 30px;
	}
	.polishing .blur{
		height: 200vh;
	}
	.color_local .blur{
		height: 170vh;
	}
}
@media screen and (max-width: 900px) {
	.header_logo img{
		height: 75px;
	}
	.header_geo{
		padding-right: 0;
	}
	.about h2,.profi h2, .photo h2, .contacts h2, .dang h2, .remont h2, .achiv h2,.mainInfo h2, .kuzov h2, .services_content h2{
		font-size: 30px;
	}
	.profi h2, .remont h2{
		width: 100%;
	}
	.pricecontent__item_main li{
		font-size: 15px;
	}
	.about p{
		padding-bottom: 50px;
		font-size: 15px;
	}
	.about img{
		margin-top: 30px;
	}
	.category_item h3{
		font-size: 12px;
	}
	.cars_item img{
		width: 70px;
	}
	.cars_item h3{
		font-size: 12px;
	}
	.profi_content{
		grid-column-gap: 50px;
	}
	.photo {
	    background-position: bottom 0 right -350px;
	}
	#s1 {
	    right: 120px;
	    top: 140px;
	}
	#s2 {
	    top: 270px;
	    right: 230px;
	}
	#s3 {
	    top: 440px;
	    right: 250px;
	}
	.remont_item b{
		font-size: 3em;
	}
	.remont_item{
		font-size: 17px;
	}
	.kuzov_gray h3, .kuzov h3{
		font-size: 15px;
		line-height: 120%;
	}
	.kuzov li{
		font-size: 0.9em;
	}
	.mainInfo h3{
		font-size: 15px;
	}
	.achiv_item img{
		width: 100px;
	}
	.achiv_item h3{
		font-size: 16px;
	}
	.right{
		margin-right: 0;
	}
	.cars_rem_content img{
		width: 350px;
	}
}
@media screen and (max-width: 800px) {
	.cars_rem_content h1{
		font-size: 30px;
	}
	.cars_rem_content h3{
		width: 70%;
	}
	.cars_rem_content img{
		width: 300px;
	}
	.cars_rem_content a{
		padding: 10px 40px;
		font-size: 15px;
	}
	.welcome_content h1{
		font-size: 36px;
		line-height: 140%;
	}
	.about img{
		width: 300px;
		height: 300px;
	}
	.about p{
		font-size: 13px;
	}
	.about h2, .profi h2, .photo h2, .contacts h2, .dang h2, .remont h2, .achiv h2, .mainInfo h2, .kuzov h2, .services_content h2{
		font-size: 26px;
	}
	.category_item__img{
		width: 40px;
		height: 40px;
	}
	.category_item h3{
		font-size: 11px;
	}
	.cars_item img{
		width: 50px;
	}
	.cars_item h3{
		font-size: 11px;
	}
	.profi_item{
		font-size: 15px;
	}
	.profi_item h3{
		font-size: 1em;
	}
	.profi_item p{
		font-size: 0.9em;
		width: 90%;
	}
	.price h2{
		font-size: 24px;
	}
	.command_toggle{
		padding: 10px 40px;
		font-size: 14px;
	}
	.command_toggle:before{
		width: 16px;
	}
	.pricecontent__item_main li, .pricecontent__item_main h4{
		margin-left: 30px;
		font-size: 13px;
	}
	.dop .pricecontent__item_main li{
		font-size: 14px;
	}
	.photo h3{
		font-size: 16px;
		width: 50%;
	}
	.photo li{
		font-size: 14px;
	}
	.photo a{
		font-size: 16px;
		width: 200px;
	}
	.photo {
	    background-position: bottom 0 right -350px;
	}
	#s1 {
	    top: 140px;
	    right: 80px;
	}
	#s2 {
	    top: 250px;
	    right: 190px;
	}
	#s3 {
	    top: 390px;
	    right: 220px;
	}
	.photo span{
		font-size: 10px;
	}
	.dang h3{
		font-size: 16px;
	}
	.dang li{
		font-size: 14px;
	}
	.remType h3{
		width: 100%;
	}
	.services__item a{
		font-size: 12px;
		padding: 8px 12px;
	}
	.services__item h3, .remont_item,.kuzov_gray h3, .kuzov h3{
		font-size: 13px;
	}
	.services .blur{
		max-height: 1000px;
	}
	.kuzov_gray img{
		height: 30px;
		margin-left: 15px;
	}
	.kuzov_gray h3{
		margin-left: 20px;
	}
	.kuzov h4, .kuzov h5, .mainInfo h3{
		font-size: 13px;
	}
	.kuzov li, .mainInfo li{
		font-size: 12px;
	}
	.mainInfo h4{
		font-size: 15px;
	}
	.achiv_item img{
		width: 80px;
	}
	.achiv_item{
		font-size: 13px;
	}
	.achiv_item h3{
		font-size: 1em;
	}
	.achiv_item p{
		font-size: 0.9em;
	}
	.contacts_grid .left h3{
		font-size: 26px;
	}
	.contacts_grid .right h4{
		font-size: 20px;
	}
	.contacts_grid{
		grid-template-columns: repeat(3, 1fr);
	}
	.left{
		grid-column: span 2;
	}
	.contact_flex a >img{
		width: 40px;
	}
	.contacts_grid .left a{
		font-size: 16px;
	}
	.footer_content{
		font-size: 14px;
	}
	.footer_content h2{
		font-size: 1em;
	}
	.footer_menu a{
		font-size: 0.8em;
	}
	.color_main h1,.color_main h3{
		font-size: 28px;
	}
	.color_main h2, .color_main h4, .color_main li, .color_main h5{
		font-size: 14px;
	}
	.color_main a, .rem_scretch a{
		font-size: 12px;
	}
	.rem_main .blur{
		height: 280vh;
	}
	.polishing h3{
		font-size: 24px;
	}
	.polishing h2, .polishing h4, .polishing li{
		font-size: 14px;
	}
	.rem_scretch a{
		margin-top: 30px;
	}
	.rem_scretch .blur{
		height: 180vh;
	}
}
@media screen and (max-width: 700px) {
	.profi_item{
		font-size: 13px;
	}
	.about h2, .profi h2, .photo h2, .contacts h2, .dang h2, .remont h2, .achiv h2, .mainInfo h2, .kuzov h2, .services_content h2{
		font-size: 22px;
	}
	.photo h3{
		width: 60%;
	}
	.photo span{
		width: 100px;
		height: 100px;
		font-size: 10px;
	}
	.photo {
	    background-position: bottom 0 right -250px;
	    background-size: 500px;
	}
	#s1 {
	    top: 220px;
	    right: 70px;
	}
	#s2 {
	    top: 300px;
	    right: 180px;
	}
	#s3 {
	    top: 430px;
	    right: 180px;
	}
	.header_content{
		font-size: 10px;
	}
	.welcome_content h1{
		font-size: 26px;
	}
	.about p{
		font-size: 12px;
	}
	.about img{
		width: 250px;
		height: 250px;
	}
	.category_item h3, .cars_item h3{
		font-size: 9px;
	}
	.welcome_content input[type=text]{
		padding: 8px 5px 8px 10px;
		font-size: 12px;
	}
	.welcome_content input[type=submit]{
		padding: 10px 25px;
		font-size: 12px;
	}
	.rem_main .blur{
		height: 320vh;
	}
	.polishing .blur{
		height: 200vh;
	}
	.rem_scretch .blur{
		height: 190vh;
	}


}
@media screen and (max-width: 610px) {
	.header .wrapper{
		max-width: 95%;
	}
	.header_logo img{
		height: 50px;
		margin-bottom: 0;
		margin-top: 10px;
	}
	.header_content{
		font-size: 8px;
	}
	.header_content nav{
		width: 62%;
	}
	.header_geo{
		width: 18%;
		font-size: 0.9em;
	}
	.welcome_content{
		left: 30px;
	}
	.welcome_content h1{
		font-size: 20px;
	}
	.welcome_content h2{
		font-size: 16px;
	}
	.welcome_content input[type=text]{
		width: 150px;
		font-size: 10px;
	}
	.welcome_content input[type=submit]{
		margin-top: 20px;
	}
	.welcome_content label{
		font-size: 10px;
	}
	.about img{
		display: none;
	}
	.about h2, .price h2, .profi h2, .photo h2, .contacts h2, .dang h2, .remont h2, .achiv h2, .mainInfo h2, .kuzov h2, .services_content h2{
		font-size: 16px;
	}
	.about p{
		width: 100%;
		padding: 30px 0;
	}
	.category_item__img{
		width: 30px;
		height: 30px;
	}
	.category_item__img img{
		width: 15px;
	}
	.category_item h3, .cars_item h3{
		font-size: 6px;
	}
	.cars_item img{
		width: 35px;
	}
	.profi h2{
		line-height: 120%;
		margin-bottom: 20px;
	}
	.profi_content{
		grid-column-gap: 20px;
	}
	.profi_item{
		font-size: 11px;
	}
	.pricecontent__item{
		width: 100%;
	}
	.pricecontent__item_main li, .pricecontent__item_main h4, .pricecontent__item_main p{
		margin-left: 10px;
		font-size: 11px;
	}
	.pricecontent__item_main p{
		font-size: 10px;
		margin-left: 0;
	}
	.dop .pricecontent__item_main li{
		font-size: 11px;
	}
	.command_toggle{
		font-size: 13px;
	}
	.command_toggle:before {
	    width: 14px;
	    height: 13px;
	    line-height: 13px;
	}
	.photo h2{
		padding: 10px 10px;
	}
	.photo h3{
		font-size: 14px;
	}
	.photo li{
		font-size: 10px;
	}
	.photo a{
		font-size: 12px;
		width: 125px;
	}
	.photo {
	    background-position: bottom 0 right -200px;
	    background-size: 400px;
	}
	#s1 {
	    top: 280px;
	    right: 60px;
	}
	#s2 {
	    top: 340px;
	    right: 150px;
	}
	#s3 {
	    top: 440px;
	    right: 160px;
	}
	.photo span{
		width: 75px;
		height: 75px;
		font-size: 7px;
	}
	.services__item{
		width: 30%;
	}
	.services .blur{
		max-height: 1200px;
	}
	.services__item h3, .remont_item, .kuzov_gray h3, .kuzov h3{
		font-size: 11px;
	}
	.remont_item{
		padding: 0;
	}
	.kuzov_gray img{
		display: none;
	}
	.kuzov_gray h3{
		margin-left: 0;
	}
	.kuzov li, .mainInfo li{
		font-size: 11px;
	}
	.kuzov h4, .kuzov h5, .mainInfo h3{
		font-size: 12px;
	}
	.achiv_item{
		width: 40%;
	}
	.contacts_grid .left h3{
		font-size: 14px;
	}
	.contacts_grid .left a{
		font-size: 10px;
		padding: 5px 7px;
	}
	.contacts_grid .right h4{
		font-size: 12px;
	}
	.footer_content{
		font-size: 11px;
		line-height: 120%;
	}
	.cars_rem_content h1{
		font-size: 22px;
	}
	.cars_rem_content h3{
		font-size: 13px;
	}
	.cars_rem_content h2{
		font-size: 16px;
	}
	.cars_rem_content img{
		width: 250px;
	}
	.cars_rem_content ol{
		font-size: 13px;
	}
	.cars_rem_content a{
		font-size: 12px;
		padding: 10px 20px;
	}
	.color_main h1, .color_main h3{
		font-size: 20px;
	}
	.color_main h2, .color_main h4, .color_main li, .color_main h5{
		font-size: 12px;
	}
	.color_main .welcome_content{
		left: 20px;
	}
	.color_main a, .rem_scretch a{
		font-size: 10px;
		padding: 10px 20px;
	}
	.rem_main .blur{
		height: 320vh;
	}
	.polishing .blur{
		height: 240vh;
	}
	.polishing h3{
		font-size: 20px;
	}
	.polishing h2, .polishing h4, .polishing li, .rem_scretch h5, .rem_scretch h2, .kuzov_gray h3, .rem_scretch ol{
		font-size: 12px;
	}
	.rem_scretch a{
		margin-top: 0;
	}
	.rem_scretch .blur{
		height: 200vh;
	}
	.color_local .blur{
		height: 180vh;
	}
}
@media screen and (max-width: 400px) {
	.rem_main .blur{
		height: 300vh;
	}
	.polishing .blur{
		height: 250vh;
	}
	.header_content{
		font-size: 6px;
	}.welcome_content h1{
		font-size: 16px;
	}
	.welcome_content h2{
		font-size: 14px;
	}
	.welcome_content input[type=text]{
		width: 130px;
	}
	.welcome_content label{
		font-size: 9px;
	}
	.arrows{
		width: 40px;
		height: 40px;
	}
	.arrow:first-child{
		top: 7px;
	}
	.arrow{
		top:14px;
	}
	.services__item a{
		font-size: 10px;
		padding: 5px 10px;
	}
	.services .blur{
		max-height: 1100px;
	}
	.kuzov h4, .kuzov h5, .mainInfo h3{
		font-size: 10px;
		line-height: 130%;
	}
	.mainInfo ol{
		padding-left: 20px;
	}
	.achiv_item{
		margin: 0 auto;
		margin-bottom: 30px;
	}
	.contacts_grid .left h3{
		font-size: 12px;
		margin-bottom: 50px;
	}
	.contacts_grid .left a{
		font-size: 8px;
	}
	.contacts_grid .right h4{
		font-size: 10px;
	}
	.cars_rem_content img{
		width: 200px;
	}
	.color_main h1, .color_main h3{
		font-size: 16px;
	}
	.color_main h2, .color_main h4, .color_main li, .color_main h5, .polishing h2, .polishing h4, .polishing li, .rem_scretch h2, .kuzov_gray h3, .rem_scretch h5{
		font-size: 11px;
	}
	.polishing h3{
		font-size: 15px;
	}
}
@media screen and (max-width: 360px) {
	.rem_scretch h4{
		font-size: 13px;
	}
	.polishing h2, .polishing h4, .polishing li, .rem_scretch h5, .rem_scretch h2, .kuzov_gray h3, .rem_scretch ol{
		font-size: 10px;
	}
	.rem_main .blur{
		height: 320vh;
	}
	.cars_rem_content a{
		font-size: 10px;
		padding: 7px 14px;
	}
	.cars_rem{
		margin-top: 75px;
	}
	.cars_rem_content h1{
		font-size: 18px;
	}
	.cars_rem_content h3, .cars_rem_content ol{
		font-size: 12px;
	}
	.about h2, .price h2, .profi h2, .photo h2, .contacts h2, .dang h2, .remont h2, .achiv h2, .mainInfo h2, .kuzov h2, .services_content h2{
		font-size: 14px;
	}
	.profi_content{
		grid-column-gap: 10px;
	}
	.profi_item{
		font-size: 10px;
	}
	.header_logo img{
		height: 40px;
		margin-top: 15px;
	}
	.welcome_content h1{
		font-size: 15px;
	}
	.welcome_content input[type=text]{
		width: 100px;
		font-size: 7px;
	}
	.welcome_content input[type=submit]{
		font-size: 9px;
		padding: 7px 15px;
	}
	.welcome_content label{
		font-size: 7px;
	}
	.about p{
		font-size: 10px;
	}
	.category_item h3, .cars_item h3{
		font-size: 5px;
	}
	.cars_item img{
		width: 25px;
	}
	.command_toggle{
		font-size: 11px;
	}
	.command_toggle:before{
		width: 10px;
		height: 10px;
	}
	.pricecontent__item_main li, .pricecontent__item_main h4, .pricecontent__item_main p{
		font-size: 10px;
	}
	.dop .pricecontent__item_main li{
		font-size: 10px;
	}
	.pricecontent__item_main li:before{
		margin-right: 5px;
	}
	.command_toggle{
		padding: 10px 20px;
	}
	.dop > .command_toggle{
		font-size: 10px;
		width: 150px;
	}
	.dang h3{
		font-size: 12px;
	}
	.dang li{
		font-size: 10px;
	}
	.remont_item{
		width: 80%;
	}
	.services__item h3, .remont_item, .kuzov_gray h3, .kuzov h3{
		font-size: 10px;
	}
	.kuzov li, .mainInfo li{
		font-size: 9px;
	}
	.mainInfo h4{
		font-size: 11px;
	}
	footer{
		padding: 20px 0;
		padding-top: 30px;
	}
	.footer_content{
		font-size: 7px;
	}
	.photo {
	    background-position: bottom 0 right -250px;
	    background-size: 400px;
	}
	#s1 {
	    top: 290px;
	    right: 10px;
	}
	#s2 {
	    top: 350px;
	    right: 90px;
	}
	#s3 {
	    top: 460px;
	    right: 100px;
	}
}