<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/style.css">
	<title>Автосервис</title>
	<link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
	<link rel="manifest" href="../img/favicon/site.webmanifest">
	<link rel="mask-icon" href="../img/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#292929">
	<meta name="theme-color" content="#252525">
</head>
<body>
	<header class="header">
		<div class="wrapper">
			<div class="header_content">
				<div class="header_logo">
					<a href="../index.html"><img src="../img/logo.png" alt=""></a>
				</div>
				<nav>
					<ul>
						<li><a href="../index.html#about" class="js-scroll">О компании</a></li>
						<li><a href="../index.html#serv"  class="js-scroll">Услуги</a></li>
						<li><a href="../index.html#price" class="js-scroll">Цены</a></li>
						<li><a href="../index.html#achiv" class="js-scroll">Наши преимущества</a></li>
						<li><a href="../index.html#contact" class="js-scroll">Контакты</a></li>
					</ul>
				</nav>
				<div class="header_geo">
					<h2>ул. Есенина, 19 к2</h2>
					<h3>+7‒911‒922‒66‒61</h3>
				</div>
			</div> 
		</div>
	</header>
		<section class="cars_rem">
		<div class="wrapper">
			<div class="cars_rem_content">
				<h1>Кузовной ремонт Cherry в Санкт-Петербурге</h1>
				<h3>
					Наш автосервис проводит кузовной ремонт автомобиля Cherry  в Санкт-Петербурге. В современном автоматизированном мире, почти все сталкиваются с проблемой выбора автомастерской для ремонта автомобиля. Важно выбрать мастерскую, которая обеспечит качественный ремонт и окрашивание. Сразу встает вопрос отношения цены и качества.
				</h3>
				<h3>
					Особо важно сделать правильный выбор, чтобы не усугубить проблему, выбрав автосервис с неквалифицированными специалистами, которые предоставят услугу низкого качества, после чего потребуется еще один ремонт.
				</h3>
				<h3>
					В Санкт-Петербурге качественный кузовной ремонт Cherry   представляет компания Дельта-Сервис. Наши мастера справятся с любыми задачами. В команду входят высококвалифицированные мастера с большим опытом работы в данной сфере. Наша мастерская проводит полную окрашивание кузова или его элементов, используя оборудование отвечающее современным требованиям и проверенные материалы.
				</h3>
				<h3>
					При покраске отдельных элементов применяется компьютерный подбор краски к имеющейся на автомобиле. Цена будет заметно маленькой.
				</h3>
				<img src="../img/auto.png" alt="">
				<h3>
					Бывают случаи когда окрашивание отдельных элементов не скроет все дефекты, в таком случае поможет полная покраска кузова. Это очень сложный этап работы, который наш автосервис предоставляет в полном объеме.
				</h3>
				<h2>
					Где отремонтировать кузов?
				</h2>
				<h3>
					Даже небольшие деформации кузова, сколы и царапины требуют ремонта. Лакокрасочное покрытие вблизи поврежденных участков продолжает разрушаться, подвергается коррозии. <br>
					Это нарушает кузовной конструкции, снижению ее прочности. Рекомендуем вам найти кузовной ремонт Cherry  даже если речь идет о царапине незначительной глубины. <br>
					Своевременное решение проблем с повреждением лакокрасочного покрытия, устранение видимых и скрытых повреждений позволит предотвратить их усугубление и сэкономить значительную сумму денег на восстановление кузова.
				</h3>
				<h4>
					При каких обстоятельствах нужно обратиться к нам?
				</h4>
				<ol>
					<li>Царапины и вмятины после неблагополучной парковки</li>
					<li>Воздействие щебня или града</li>
					<li>Аварии</li>
					<li>Проявление заводских «недоработок»</li>
					<li>Появление ржавчины и коррозии</li>
				</ol>
				<h4>
					Отремонтировать кузов в СПб выгодно именно у нас:
				</h4>
				<h3>
					Ремонт кузова производится быстро и качественно, возможен срочный ремонт. <br>
					Мы делаем работу профессионально, применяем оборудование, собранное и прошедшее тестирование на ведущих заводах зарубежья. К клиенту и его автомобилю подход индивидуален в зависимости от пожеланий и предпочтений.
					Стоимость рассчитывается лояльно: приятные цены, одни из самых низких в Петербурге. 
				</h3>
				<h4>Какие услуги мы предлагаем:</h4>
				<ol>
					<li>
						Восстановление геометрии кузова. Проводим выравнивание основных элементов и убираем перекосы.
					</li>
					<li>
						Сварка. Проводится, если участок кузова поврежден пробоиной, ржавчиной или коррозией. Применяем новейшие технологии ремонта.
					</li>
					<li>
						Рихтовка. Ей подвергаются участки кузова, под влиянием вогнутостей и выпуклостей. Может реализовываться как на маленьком сегменте, так и на всей площади кузова.
					</li>
					<li>
						Покраска. Восстановление защитного ЛКП (лако-красочного покрытия) - это обработка специальным раствором, после окрашивания которым машина становится снова в потрясающем первоначальном виде.
					</li>
				</ol>

				<a target="_blank" href="https://wa.me/79119226661?text=Здравствуйте!%20Я%20хочу%20записаться%20на%20...">Хочу записаться</a>

			</div>
		</div>
	</section>
	<footer>
		<div class="wrapper">
			<div class="footer_content">
				<h2>
					Copyright © ООО «Дельта-Сервис» <br>
					Все права защищены
				</h2>
				<div class="footer_menu">
					<a href="">КУЗОВНОЙ РЕМОНТ ПО СПБ</a>
					<a href="">УСЛУГИ</a>
					<a href="">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</a>
				</div>
			</div>
		</div>	
	</footer>
</body>
</html>