<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/style.css">
	<title>Автосервис</title>
	<link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
	<link rel="manifest" href="../img/favicon/site.webmanifest">
	<link rel="mask-icon" href="../img/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#292929">
	<meta name="theme-color" content="#252525">
</head>
<body>
	<header class="header">
		<div class="wrapper">
			<div class="header_content">
				<div class="header_logo">
					<a href="../index.html"><img src="../img/logo.png" alt=""></a>
				</div>
				<nav>
					<ul>
						<li><a href="../index.html#about" class="js-scroll">О компании</a></li>
						<li><a href="../index.html#serv"  class="js-scroll">Услуги</a></li>
						<li><a href="../index.html#price" class="js-scroll">Цены</a></li>
						<li><a href="../index.html#achiv" class="js-scroll">Наши преимущества</a></li>
						<li><a href="../index.html#contact" class="js-scroll">Контакты</a></li>
					</ul>
				</nav>
				<div class="header_geo">
					<h2>ул. Есенина, 19 к2</h2>
					<h3>+7‒911‒922‒66‒61</h3>
				</div>
			</div> 
		</div>
	</header>
		<section class="welcome rem_scretch polishing">
		<div class="blur"></div>
		<div class="wrapper">
			<div class="welcome_content">
				<h1>Полировка автомобиля</h1>
				<h2>
					Полировка автомобиля в Санкт-Петербурге позволяет не просто отполировать кузов, но и устранить все дефекты. <br>
					При активной эксплуатации на автомобиль влияют ультрафиолетовые лучи, различные химические компоненты, коррозия, атмосферные осадки и многое другое. <br>
					Чтобы минимизировать влияние этих факторов на кузов машины и придать ему новый блеск, наша компания предлагает провести профессиональную полировку. <br> <br>

					Важно, чтобы эта процедура проводилась опытными специалистами, которые используют в своей работе высококачественные лакокрасочные материалы. Это даст возможность улучшить состояние кузова машины <br>
					и обеспечить его качественную защиту от неблагоприятных факторов.
				</h2>
				<h3>Почему стоит заказать полировку в нашей компании?</h3>
				<h4>Компания "Дельта-Сервис" предлагает хорошую полировку кузова нескольких видов, <br> из которых вы сможете выбрать наиболее подходящий для себя вариант:</h4>
				<ol>
				
					<li>Защитная полировка обуславливает надежную защиту кузовного покрытия и длительное сохранение презентабельного вида вашего автомобиля. Традиционно защитная полировка выполняется с применением лакокрасочных материалов, которые восстанавливают поверхность и обеспечивают ее защиту. В нашем центре она выполняется исключительно по всей кузовной поверхности.</li>
					<li>Восстановительная или абразивная полировка выполняется с целью устранения небольших царапин, признаков окисления и незначительных дефектов. Кроме того, качественная абразивная полировка позволяет добиться красивого глянцевого блеска. В нашей компании для проведения этой восстановительной процедуры используются высококачественные абразивные пасты без нарушения старого лакокрасочного покрытия.</li>
				</ol>

				<h4>Основная задача, которую ставят перед собой специалисты нашей компании при полировке машины – это максимальное сохранение старого лакокрасочного покрытия. Если для полного устранения повреждений приходится снимать слишком большой слой лака, мастера стараются сделать это с минимальным ущербом для покрытия. Благодаря использованию подобной фирменной технологии полировка производится таким образом, который позволяет устранить все дефекты.		
				</h4>
				<h5>Преимущества выполнения полировку в нашей компании:</h5>
				<ol>
					<li>Применение высококачественных материалов;</li>
					<li>Большой опыт работы в сфере кузовной полировки;</li>
					<li>Использование фирменной технологии полировки;</li>
					<li>Индивидуальный подход к каждому заказчику;</li>
					<li>Наличие высококлассных специалистов;</li>
					<li>Гарантия на все виды полировочных работ.</li>
				</ol>
				<a target="_blank" href="https://wa.me/79119226661?text=Здравствуйте!%20Я%20хочу%20записаться%20на%20полировку%20автомобиля.">Хочу записаться</a>
			</div>
		</div>
	</section>
	<footer>
		<div class="wrapper">
			<div class="footer_content">
				<h2>
					Copyright © ООО «Дельта-Сервис» <br>
					Все права защищены
				</h2>
				<div class="footer_menu">
					<a href="">КУЗОВНОЙ РЕМОНТ ПО СПБ</a>
					<a href="">УСЛУГИ</a>
					<a href="">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</a>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>