<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/style.css">
	<title>Автосервис</title>
	<link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
	<link rel="manifest" href="../img/favicon/site.webmanifest">
	<link rel="mask-icon" href="../img/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#292929">
	<meta name="theme-color" content="#252525">
</head>
<body>
	<header class="header">
		<div class="wrapper">
			<div class="header_content">
				<div class="header_logo">
					<a href="../index.html"><img src="../img/logo.png" alt=""></a>
				</div>
				<nav>
					<ul>
						<li><a href="../index.html#about" class="js-scroll">О компании</a></li>
						<li><a href="../index.html#serv"  class="js-scroll">Услуги</a></li>
						<li><a href="../index.html#price" class="js-scroll">Цены</a></li>
						<li><a href="../index.html#achiv" class="js-scroll">Наши преимущества</a></li>
						<li><a href="../index.html#contact" class="js-scroll">Контакты</a></li>
					</ul>
				</nav>
				<div class="header_geo">
					<h2>ул. Есенина, 19 к2</h2>
					<h3>+7‒911‒922‒66‒61</h3>
				</div>
			</div> 
		</div>
	</header>
		<section class="welcome rem_scretch scretch">
		<div class="blur"></div>
		<div class="wrapper">
			<div class="welcome_content">
				<h1>Ремонт царапин</h1>
				<h2>
					Локальный кузовной ремонт недорогое удовольствие. Однако нужно помнить и про риски. Плохое качество расходных материалов может привести к коррозии кузова, а неправильно подобранный колер испортит эстетику покрытия. Кому хочется иметь пятно другого оттенка на кузове?
					<br><br>
					Соблазн обратиться в автосервис «попроще» может обернуться трагедией для локального ремонта. Если сколы и мелкие повреждения локализированы на дверях, капоте, крыше или багажнике, вам всё равно потребуется компьютерная система подбора цвета. Каким бы точным не был глаз «орла»-автомеханика, всегда остаётся вероятность подобрать неправильный колер. Если вашего «Железного коня» красят не в специальном покрасочном боксе, велика вероятность, что на краску или лак попадут мельчайшие частицы пыли и грязи, которые повредят герметичность поверхности, сделав её уязвимой для погодных условий и коррозии.
				</h2>	
				<h4>В работу входят несколько услуг:</h4>
				<ol>
					<li>Очистка. Повреждённую поверхность тщательно очищают от старой краски, чтобы устранить мельчайшие дефекты.</li>
					<li>Шпатлёвка. Обнаруженные сколы и царапины тщательно шпатлюют, чтобы скрыть неровности.</li>
					<li>Шлифовка. Поверхность тщательно обрабатывают, добиваясь идеально гладкой поверхности.</li>
					<li>Грунтование. На шпатлёвку наносят специальное красочное покрытие с эффектом защиты и коррозии и осадков.</li>
					<li>Окрашивание. Тщательное, иногда в несколько слоёв, нанесение основного колера на шпатлёвку. Если покраска локальная, то включает в себя тщательное размытие границы заводской покраски, чтобы после ремонта не было пятен.</li>
					<li>Лакировка. Один из самых ответственных этапов при ремонте сколов и царапин. Каким бы ни был лак (степень твёрдости или скорость просушки), разводов и подтёков остаться не должно.</li>
					<li>Полировка. Это необязательная часть работы, но если вы выбрали её, то снятие тончайшего слоя лака приводит к идеально гладкой поверхности ремонта.</li>
				</ol>
				<h5>
					Решить проблему сколов или царапин с «Дельта-Сервис» легко и быстро. Вы можете позвонить эксперту, заполнить форму заказа на сайте, написать по почте или прислать фотографию проблемы, чтобы специалист предварительно оценил набор и стоимость работ. Не затягивайте ремонт царапин и сколов — небольшая проблема может со временем стать большой и более дорогостоящей. Специалисты «Дельта-Сервис» ждут вас прямо сейчас.
				</h5>
				<a target="_blank" href="https://wa.me/79119226661?text=Здравствуйте!%20Я%20хочу%20записаться%20на%20ремонт%20вмятин.">Хочу записаться</a>
			</div>
		</div>
	</section>
	<footer>
		<div class="wrapper">
			<div class="footer_content">
				<h2>
					Copyright © ООО «Дельта-Сервис» <br>
					Все права защищены
				</h2>
				<div class="footer_menu">
					<a href="">КУЗОВНОЙ РЕМОНТ ПО СПБ</a>
					<a href="">УСЛУГИ</a>
					<a href="">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</a>
				</div>
			</div>
		</div>	
	</footer>
</body>
</html>