<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/style.css">
	<title>Автосервис</title>
	<link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
	<link rel="manifest" href="../img/favicon/site.webmanifest">
	<link rel="mask-icon" href="../img/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#292929">
	<meta name="theme-color" content="#252525">
</head>
<body>
	<header class="header">
		<div class="wrapper">
			<div class="header_content">
				<div class="header_logo">
					<a href="../index.html"><img src="../img/logo.png" alt=""></a>
				</div>
				<nav>
					<ul>
						<li><a href="../index.html#about" class="js-scroll">О компании</a></li>
						<li><a href="../index.html#serv"  class="js-scroll">Услуги</a></li>
						<li><a href="../index.html#price" class="js-scroll">Цены</a></li>
						<li><a href="../index.html#achiv" class="js-scroll">Наши преимущества</a></li>
						<li><a href="../index.html#contact" class="js-scroll">Контакты</a></li>
					</ul>
				</nav>
				<div class="header_geo">
					<h2>ул. Есенина, 19 к2</h2>
					<h3>+7‒911‒922‒66‒61</h3>
				</div>
			</div> 
		</div>
	</header>
		<section class="welcome rem_scretch">
		<div class="blur"></div>
		<div class="wrapper">
			<div class="welcome_content">
				<h1>Ремонт вмятин автомобиля</h1>
				<h2>
					К появлению вмятин могут привести различные факторы, от человеческой невнимательности, до природного катаклизма. Иногда даже незначительная вмятина, основательно портит внешний вид транспортного средства. 
					Но не стоит забывать, что если вы решили произвести ремонт вмятин  в Санкт-Петербурге, он должен быть качественным. Иначе, в результате вы получите ещё более заметную вмятину, и дальнейшее восстановление обойдётся дороже. 
					Стоит обратить внимание, на совсем  безобидное повреждение, ведь  оно в дальнейшем может серьёзно сказаться.
				</h2>
				<div class="kuzov_gray">
					<img src="../img/mark.png" alt="">
					<h3>Именно наша компания, предлагает качественный кузовной ремонт авто в СПб. 
						В нашей порядочности и ответственности в подходе к ремонту автомобилей, убедились сотни довольных клиентов. С каждым днём мы увеличиваем их количество, 
						и стараемся сделать взаимодействие с клиентами максимально удобным.
					</h3>
				</div>
				<h4>К безусловным плюсам нашего предприятия можно отнести:</h4>
				<ol>
					<li>Качество предоставляемых услуг.</li>
					<li>Специалисты, с высокой квалификацией, имеющие большой опыт работы в данной индустрии.</li>
					<li>Возможность, как полной так и локальной реставрации кузова.</li>
					<li>Минимальный срок выполнения работ.</li>
					<li>Максимально демократичные цены (несмотря на высокое качество ремонта).</li>
				</ol>
				<h5>А также, наш центр, предоставляет услуги, в спектр которых входит выпрямление вмятин без покраски, <br>
					что существенно снижает время и стоимость такого ремонта. <br>
					Данная услуга предполагает удаление вмятин, даже на сложных участках поверхности.  <br> <br>

					Покраска кузова осуществляется в случае полной реставрации кузова. Ей занимаются специалисты с огромным опытом, так что в качестве конечного результата сомневаться не приходится. <br> <br>

					Наш центр осуществляет ремонт вмятин автомобиля в Санкт-Петербурге, в кратчайшие сроки. Мы имеем хорошую репутацию среди многочисленных клиентов. Наши специалисты, готовы рассмотреть различные варианты решения проблемы и объективно вас проконсультировать. Стоимость услуг варьируется в пределах доступной. <br> <br>

					Поэтому, если так сложилось, что вам стало необходимо осуществить ремонт вмятин автомобиля в Санкт-Петербурге, качественно и в кратчайшие сроки. Наши специалисты с радостью предоставит вам свои услуги. Вам нужно лишь позвонить по нашим контактным телефонам или оставить заявку на сайте.
				</h5>
				<a target="_blank" href="https://wa.me/79119226661?text=Здравствуйте!%20Я%20хочу%20записаться%20на%20ремонт%20вмятин.">Хочу записаться</a>
			</div>
		</div>
	</section>
	<footer>
		<div class="wrapper">
			<div class="footer_content">
				<h2>
					Copyright © ООО «Дельта-Сервис» <br>
					Все права защищены
				</h2>
				<div class="footer_menu">
					<a href="">КУЗОВНОЙ РЕМОНТ ПО СПБ</a>
					<a href="">УСЛУГИ</a>
					<a href="">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</a>
				</div>
			</div>
		</div>	
	</footer>
</body>
</html>