<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/style.css">
	<title>Автосервис</title>
	<link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
	<link rel="manifest" href="../img/favicon/site.webmanifest">
	<link rel="mask-icon" href="../img/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#292929">
	<meta name="theme-color" content="#252525">
</head>
<body>
	<header class="header">
		<div class="wrapper">
			<div class="header_content">
				<div class="header_logo">
					<a href="../index.html"><img src="../img/logo.png" alt=""></a>
				</div>
				<nav>
					<ul>
						<li><a href="../index.html#about" class="js-scroll">О компании</a></li>
						<li><a href="../index.html#serv"  class="js-scroll">Услуги</a></li>
						<li><a href="../index.html#price" class="js-scroll">Цены</a></li>
						<li><a href="../index.html#achiv" class="js-scroll">Наши преимущества</a></li>
						<li><a href="../index.html#contact" class="js-scroll">Контакты</a></li>
					</ul>
				</nav>
				<div class="header_geo">
					<h2>ул. Есенина, 19 к2</h2>
					<h3>+7‒911‒922‒66‒61</h3>
				</div>
			</div> 
		</div>
	</header>
		<section class="welcome color_main rem_main">
		<div class="blur"></div>
		<div class="wrapper">
			<div class="welcome_content">
				<h1>Ремонт кузова</h1>
				<h2>
					Своевременно проведенный ремонт кузова позволяет существенно продлить срок эксплуатации автомобиля. Владелец транспортного средства должен регулярно осматривать днище и капот машины. Это одни из дорогих элементов, своевременное устранение дефектов на которых позволяет существенно сэкономить. Сколы или царапины делают кузов беззащитным перед коррозией и нарушают целостностью.
				</h2>
				<h3>Кузовной ремонт</h3>
				<ol>
					<li>Внешние работы;</li>
					<li>Ремонт средней сложности.</li>
				</ol>
				<h2>
					Первый предполагает нанесение лакокрасочного покрытия с или без аэрографии, а второй — восстановление и замену отдельных деталей.
				</h2>
				<h2>
					Реконструкцию невозможно провести своими руками. Она требует предварительной диагностики и задействования специального оборудования, инструментов. Это позволяет выявить весь предстоящий объем работ.
				</h2>

				<h3>Повреждение днища</h3>
				<h2>
					Эта часть транспортного средства обычно обрабатывается специальной мастикой, предохраняющей покрытие от коррозии многие годы. Она не защищает днище при повреждении. Состав разрушает езда по выбоинам, проселочным и лесным дорогам. Если своевременно не устранить нарушения, значит, спустя год в полу машины образуется «вентиляция».
				</h2>
				<h4>
					Работа проводится с задействованием следующих материалов:
				</h4>
				<ol>
					<li>Абразивов;</li>
					<li>Растворителя;</li>
					<li>Грунтовки;</li>
					<li>Мастики битумной.</li>
				</ol>
				<h2>	
					Поврежденные участки очищают от грязи и ржавчины, обезжиривают и удаляют имеющиеся загрязнения. Область грунтуют. Ждут, пока состав просохнет, а уже потом наносят мастику. Это позволяет восстановить покрытие, которое было нанесено при выпуске машины на заводе.
				</h2>
				<h3>
					Устранение вмятин
				</h3>
				<h2>
					Избавиться от сколов и отслоений позволяет выравнивание поверхности. Многие автолюбители пытаются справиться с подобной работой своими силами, но лучше чтобы это сделали специалисты.
				</h2>
				<h2>
					Сначала выравнивают поврежденную область. Кустарный метод предполагает задействование монтировки, рукоятки от молока, отвертки с резиновым наконечником. Инструмент прикладывают с внутренней стороны вмятины, которую выравнивают с приложением силы. Главное. не переусердствовать. Иначе останутся царапины.
				</h2>
				<h2>
					Следующим этапом проводят зачистку, шпатлевку, грунтовку. Заключительным шагом окрашивают поверхность капота. Неправильно выполненное выравнивание приводит к неравномерному окрашиванию и тому, что остаются незащищенный перед коррозий области.
				</h2>
				<h2>
					В последние годы популярностью пользуется беспокрасочный метод выпрямление вмятин. Он должно выполнять мастерами с опытом. Качество подобных работ гарантирует высокоточного исполнения и качественных инструментов. Кроме того, такой ремонт гораздо экономически доступнее, нежели с нанесением краски.
				</h2>
				<h3>Рихтовочные работы</h3>

				<h2>
					Представляют собой кузовной ремонт, проводимый с целью восстановления геометрии, исправления повреждений
					и вмятин. В результате рихтовки транспортное средство имеет состояние, аналогичного тому, что и после штамповки. Выполняется с помощью наковален соответствующих конфигураций.
					Физические свойства металла требуют задействование как специальных молотков, так и умения правильно наносить частые и слабые удары. <br>
					Складки восстанавливают в первую очередь, продвигаясь к самому центру имеющегося дефекта. <br>
					Каждые несколько ударов обязательно прощупывают металл. <br>
					Внутренние полости автомобильного кузова <br>
				</h2>
				<h4>	
					Каркас транспортного средства, к сожалению, уязвим перед коррозийными процессами. Они страшны не только внешней, но и внутренней части кузова. К наиболее чувствительным относятся:
				</h4>
				<ol>
					<li>Крышки багажника;</li>
					<li>Лонжероны;</li>
					<li>Ниши дверей;</li>
					<li>Лонжероны.</li>
				</ol>
				<h2>					
					В качестве профилактики они обязательно должны обрабатываться специальными антикоррозийными составами. Подобные продаются в магазинах для автомобилей. Если применяют густую мастику, она предварительно разводится растворителем. Гораздо проще работать с баллончиками. Они содержат защитные компоненты, а наносятся с помощью подходящей специальной насадки.
				</h2>
				<h2>
					<br>	
					Применение подобных состав не требует разбора кузова и снятие какие-либо деталей. Точное выполнение, исключающее пропуск необработанных участков, проводится в мастерский. О возможности такой обработки рекомендуется договориться заранее. На СТО есть оборудование, позволяющее покрыть составом даже самые труднодоступные места.
				</h2>
				<h3>Капитальный ремонт</h3>
				<h2>
					Критические повреждения невозможно устранить самостоятельно. Любые попытки исправления дефектов приводят 
					к еще большим проблемам. Без правильной диагностики не получится выявить детали, требующие замены или покраски. Проводиться ремонт кузова должен в профессиональной автомастерской
					с использованием современного качественного оборудования.

				</h2>
				<h5>
					<br>
					Данную услугу предлагают на многих станциях технического обслуживания. 
					Она относится к самой дорогостоящей, поэтому здесь важно обращаться только к профессионалам. Главным критерием выбора СТО является наличие гарантии на все проводимые работы не только на словах, но и соответствующими бумагами. 
				</h5>
				<a target="_blank" href="https://wa.me/79119226661?text=Здравствуйте!%20Я%20хочу%20записаться%20на%20покраску%20кузова.">Хочу записаться</a>

			</div>
		</div>
	</section>
	<footer>
		<div class="wrapper">
			<div class="footer_content">
				<h2>
					Copyright © ООО «Дельта-Сервис» <br>
					Все права защищены
				</h2>
				<div class="footer_menu">
					<a href="">КУЗОВНОЙ РЕМОНТ ПО СПБ</a>
					<a href="">УСЛУГИ</a>
					<a href="">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</a>
				</div>
			</div>
		</div>	
	</footer>
</body>
</html>